.register-course .wrap label{
    flex-wrap: wrap;
    
}
.text-error{
    font-size: 12px;
    font-style: italic;
    color: red;
    padding-left: 230px;
    margin-top: -20px;
    margin-bottom: 10px;
}
